$primaryColor: #403f83;
$primaryColorRgb: 64, 63,131;
$secondaryColor: #8364e2;
$secondaryColorRgb: 131, 100, 226;

:root {
  --primary-color: $primaryColor;
  --primary-color-rgb: $primaryColorRgb;

  --secondary-color: $secondaryColor;
  --secondary-color-rgb: $secondaryColorRgb;
}
